@use "./units" as units;

$radius-4: units.rem(4px);

$space-8: units.rem(8px);
$space-16: units.rem(16px);
$space-18: units.rem(18px);
$space-24: units.rem(24px);

$size-14: units.rem(14px);
$size-24: units.rem(24px);
